<div class="sec-wrapper">
    <div class="current_user">
      <%= current_user.name%>
    </div>
    <div class="search-form">
      <%= form_with(url: "", local: true, method: :get) do |form| %>
      <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input" %>
      <%= form.submit "検索", class: "search-btn" %>
      <% end %>
    </div>
  </div>
  <div class="time-line">
    <div class="l_user">
      暇なユーザ名
    </div>
    <div class="times">
      from_timeからto_timeまで
    </div>
  </div>
</div>