/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
  box-sizing: border-box;
}
.favorite-link{
  .f-link{
    text-decoration: none;
  }
  display  : inline-block;
  animation: rollkAnime 2s linear infinite;
  color    : #6666ff;
}
@keyframes rollkAnime{
   50% {
         color    : #66ff66;
         transform: rotateY(180deg);
       }
  100% {
         color    : #6666ff;
         transform: rotateY(360deg);
       }
}
@import "bootstrap";  