.wrapper{
  background-color: #ededbb;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
}

.title{
  background-color: #ddc9a6;
  color: #555555;
  height: 120px;
  font-size: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

a.title_link:link,
a.title_link:visited,
a.title_link:hover,
a.title_link:active{
  color: #555555;
}

.head_bar{
  height: 40px;
  font-size: 25px;
}



.user_nav{
  display: flex;
  justify-content: space-around;
}

.log_nav{
  justify-content: left;
}

.please{
  padding: 10px;
  font-size: 18px;
  color: red;
}

.field{
  font-size: 25px;
}

.actions{
  padding-top: 10px;
}

.sec-wrapper{
  font-size: 25px;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.current_user{
  display: flex;
}

.search-form{
  padding-left: 20px;
}

.time-line{
  font-size: 25px;
  display: flex;
  justify-content: space-around;
  height: calc(100vh - 120px);
  padding: 50px;
}

a{
  text-decoration: none;
}

a:hover {
  color: red;
}

a:active {
  color: green;
}



