html, body {
  overflow: scroll;
  text-shadow : 0 1px 1px #3d3c3c;
  background-color: #bdb294;
}

h2{
  font-size: 25px;
  height: 50px;
  padding: 20px 20px 50px 20px;
}

.wrapper{
  font-family: 'Open Sans', sans-serif;
  font-family: 'Noto Serif JP', serif;
  background-color: #bdb294;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
}

.title{
  font-family: 'Open Sans', sans-serif;
  font-family: 'Noto Serif JP', serif;
  background-color: #ddc9a6;
  color: #555555;
  height: 120px;
  font-size: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 160px;
  text-shadow    : 
  2px  2px 1px rgba(255, 77, 77, 0.57),
 -2px  2px 1px rgba(255, 77, 77, 0.57),
  2px -2px 1px rgba(255, 77, 77, 0.57),
 -2px -2px 1px rgba(255, 77, 77, 0.57),
  2px  0px 1px rgba(255, 77, 77, 0.57),
  0px  2px 1px rgba(255, 77, 77, 0.57),
 -2px  0px 1px rgba(255, 77, 77, 0.57),
  0px -2px 1px rgba(255, 77, 77, 0.57); 
}

a.title_link:link,
a.title_link:visited,
a.title_link:hover,
a.title_link:active{
  color: #555555;
}

.hello-user,
.schedule-top,
.search-page,
.match-user,
.room-list-title,
.favorite-title,
.dm-room,
.tl-each,
.new_schedule,
.new-notification-list,
.edit-user-title{
  text-shadow : 3px 5px 14px #ffff1a;
}

.home{
  size: 200 * 50;
  position: relative;
  right: -550px; 
}

.users-home{
  size: 200 * 50;
  position: relative;
  right: -580px; 
}

.home-top{
  position: relative;
  top: -25px;
  right: -487px;
  color: #3380d8;
  font-size: 16px;
  text-shadow: none;
}

.users-home-link{
  position: relative;
  top: -40px;
  right: -502px;
  color: #3380d8;
  font-size: 16px;
  text-shadow: none;
}

.new-notification-list{
  display: flex;
  justify-content: center;
  font-size: 35px;
  padding-bottom: 30px;
}

.week-of-schedule{
  text-shadow : 2px 2px 5px #ff1ad9;
}

.tl-left{
  text-shadow : 1px 1px 1px #080808;
}

.tl-right{
  text-shadow : 2px 2px 14px #ff481a;
}

.head_bar{
  height: 40px;
  font-size: 30px;
}

.errors{
  color: red;
  position: absolute;
  width: 100vw;
  top: -80px;
  left: -300px;
}

.ul-errors{
  padding-top:100px;
}

.errors-list{
  font-size: large;
  padding-top: 5px;
}

.facebook{
  margin: 10px 0 0 10px;
  position: relative;
  left: 1400px;
}

/* フィールド */

input[type="password"] {
  width: 460px;
  height: 60px;
}

input[type="email"] {
  width: 460px;
  height: 60px;
}

input[type="text"] {
  width: 460px;
  height: 60px;
}

input[type="password"],
input[type="email"],
input[type="text"]{
  box-sizing    : border-box;
  border        : 2px solid #1e6bb9;
  border-radius : 8px;
  background-color: rgb(240, 249, 255);
}

input[type="password"]:focus,
input[type="email"]:focus,
input[type="text"]:focus{
  border-color  : #4dffff;
  background    : rgba(77, 255, 255, 0.20);
  box-shadow    : 4px 4px 2px #999;
  outline       : 0;
}

/* ユーザー情報 */

.user-wrap{
  height: 100vh;
  position: absolute;
  top: 350px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  overflow: scroll;
}

.new-user-wrap{
  position: absolute;
  top: 220px;
  left: 51%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}

.edit-user-title{
  display: flex;
  justify-content: center;
  padding: 80px 0;
}

.guest-alert{
  display: flex;
  justify-content: center;
  font-size: 35px;
  color: red;
  padding-top: 25vh;
}

/* スケジュール */

.user_nav_new{
  display: flex;
}

.guest{
  position: absolute;
  right: 0;
}

.new-guest{
  position: absolute;
  right: 0;
  top: 0;
}
.head_bar{
  position: relative;
}

.post{
  padding-right: 10px;
}

.day-of-week{
  position: absolute;
  left: 350px;
  top: 170px;
}

.sun-new,
.mon-new,
.tue-new,
.wed-new,
.thu-new,
.fri-new,
.sat-new{
  padding-bottom: 10px;
}

.user_nav{
  display: flex;
  justify-content: space-around;
}

.log_nav{
  justify-content: left;
}

.please{
  display: flex;
  justify-content: center;
  padding-top: 100px;
  font-size: 25px;
  color: red;
}

.new_schedule{
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  font-size: 35px;
}

.field{
  font-size: 33px;
}

.actions{
  margin-top: 20px;
  padding-right: 15px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.log-actions{
  font-size: 23px;
  padding-top: 10px;
}

.hello-user{
  font-size: 30px;
  padding: 40px 0 70px 30px;
  color: #3d3c3c;
  position: relative;
}

.nothing-schedule{
  display: flex;
  justify-content: center;
  font-size: 30px;
  padding-bottom: 20px;
  color: rgb(131, 69, 24);
}

.nothing-follow{
  display: flex;
  justify-content: center;
  font-size: 30px;
  padding-top: 100px;
  padding-left: 100px;
  color: rgb(24, 30, 112);
}

.sec-wrapper{
  font-size: 25px;
  height: 100vh;
}

.search-form{
  padding-left: 20px;
}

/* マイページ */

.my-page{
  height: 100vh;
  background-color: rgb(136, 175, 143);
  overflow: scroll;
}

.schedule-top{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  font-size: 28px;
}

.apotime{
  
}

.current_search_number{

}

.week-of-schedule{
  margin: 0 20vw ;
  border: solid 4px #35557f;
  border-radius: 100px;
  background-color: #B0C4DE;
  font-size: 25px;
}

.sunday,
.monday,
.tuesday,
.wednesday,
.thursday,
.friday,
.saturday{
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.sun,
.mon,
.tue,
.wed,
.thu,
.fri,
.sat{
  padding-left: 220px;
}

.sun-s,
.mon-s,
.tue-s,
.wed-s,
.thu-s,
.fri-s,
.sat-s{
  padding-right: 220px;
}

.current-location{
  font-size: 30px;
  margin: 20px 20vw ;
  border: solid 4px #35557f;
  background-color: #B0C4DE;
  border-radius: 10px;
  color: rgb(99, 45, 224);
  display: flex;
  justify-content: center;
}

.edit-schedule-link{
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}

.last-edit{
  padding-left: 260px;
  font-size: 20px;
  color: rgb(250, 21, 21);
}

/* 検索 */

.search-parent{
  display: flex;
  justify-content: space-around;
}

.search-form{
  padding-top: 8px;
  font-size: 25px;
}

.search-page{
  font-size: 30px;
  padding-top: 20px;
  color: #313030;
}

.match-id{
  display: flex;
  justify-content: center;
  font-size: 25px;
  padding-top: 50px;
  color: rgb(43, 151, 175);
}

.user-candidate{
  display: flex;
  justify-content: center;
  margin: 30px 25vw 20px 25vw;
  border: solid 4px lightgray;
  border-radius: 100px;
  background-color: lightsteelblue;
  font-size: 25px;
}

.search-wrap{
  height: 250px;
}

.match-user{
  display: flex;
  justify-content: center;
  font-size: 33px;
  height: 150px;
  padding-top: 30px;
}

.name-color{
  color: rgb(212, 81, 48);
}

.follow-list{
  display: flex;
  justify-content: center;
  font-size: 25px;

}

.u-f{
  padding-right: 20px;
}

.rap{
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.unless-follow{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  width: 35vw;
  height: 50px;
  border: cornflowerblue;
  background-color: darksalmon;
  border-radius: 20px;
}

.follow_form{

}

/* リンク */

.button-center {
  display       : inline-block;
  font-size     : 18pt;
  text-align    : center;
  cursor        : pointer;
  padding       : 12px 13px;
  background    : #00b3b3;
  color         : #ffffff;
  line-height   : 1em;
  transition    : .3s;
  box-shadow    : 8px 8px 8px #666666;
  border        : 2px solid #00b3b3;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}

.button {
  display       : inline-block;
  font-size     : 18pt;
  text-align    : center;
  cursor        : pointer;
  padding       : 12px 13px;
  background    : #00b3b3;
  color         : #ffffff;
  line-height   : 1em;
  transition    : .3s;
  box-shadow    : 8px 8px 8px #666666;
  border        : 2px solid #00b3b3;
}

.button-favo-time{
  position: relative;
  left: 75vw;
  top: -30px;
  display       : inline;
  font-size     : 18pt;
  text-align    : center;
  padding       : 12px 13px;
  background    : #d5eeee;
  box-shadow    : 8px 8px 8px #666666;
  border        : 5px solid #3158d8;
  border-radius: 18px;
}

.button-new {
  
  font-size     : 18pt;
  text-align    : center;
  cursor        : pointer;
  padding       : 12px 13px;
  background    : #00b3b3;
  color         : #ffffff;
  line-height   : 1em;
  transition    : .3s;
  box-shadow    : 8px 8px 8px #666666;
  border        : 2px solid #00b3b3;
  position: absolute;
  top: 610px;
  right: 330px;
}

.button:hover {
  box-shadow    : none;
  color         : #00b3b3;
  background    : #ffffff;
}

.link-wrap{
  position: relative;
  top: -80px;
}

.new-notifications{
  border: rgb(110, 177, 110) 2px solid;
  border-radius: 15px;
  background-color: rgb(64, 156, 118);
  height: 55px;
  width: 110px;
  left: 1500px;
  top: -120px;
  box-shadow    : 8px 8px 8px #666666;
}

div.new-notifications {
  position: relative;
}
div.new-notifications a {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-link{
  border: hotpink 3px solid;
  padding: 010px 30px;
  background-color: black;
  margin: 0 30px 30px 30px;
  box-shadow    : 8px 8px 8px #666666;
}

a.notification-index_link:link,
a.notification-index_link:visited,
a.notification-index_link:active{
  color: rgb(68, 30, 5);
}

a.my-page_link:link,
a.my-page_link:visited,
a.my-page_link:active{
  color: rgb(236, 82, 216);
}

a.notification-index_link:hover,
a.my-page_link:hover{
  color: orange;
}

.back-link{
  font-size: 25px;
  background-color: #cab899; 
  display: flex;
}

.how-to{
  padding: 10px 0 0 20px;
}

.submit{
  padding: 20px;
}

a{
  text-decoration: none;
}

a:hover {
  color: red;
}

a:active {
  color: green;
}

.actions{
  padding-left: 20px;
  font-size: 20px;
}

.aaa{
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.wrapping{
  border: darkslateblue 3px solid;
  width: 60vw;
  border-radius: 30px;
  background-color: rgb(52, 150, 248);
}

.follow-name{
  display: flex;
  justify-content: center;
  font-size: 30px;
}

.syousai{
  padding-left: 30px;
}

.follow-count-show{
  padding-right: 10px;
}

.follower-count-show{
  padding-left: 10px;
}

.follow-count{
  padding: 60px 0;
}

.follow-count,
.no-my-id{
  display: flex;
  justify-content: center;
  font-size: 30px;
  height: 60px;
  color: red;
  padding-bottom: 60px
}

.no-my-id{
  padding-top: 200px;
  font-size: 35px;
}

.follow-c{
  padding-right: 15px;
}

/* タイムライン */


.time-line{
  font-size: 33px;
  position: relative;
  height: 100vh;
  background-color: rgb(112, 181, 184);
  overflow: scroll;
}

.tl-border{
  position: absolute;
  top: 290px;
  left: 16%;
}

.no-follow-now{
  display: flex;
  justify-content: center;
  padding-top: 150px;
}

.tl-each{
  height: 150px;
  display: flex;
  justify-content: center;
  font-size: 40px;
}

.in-each{
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  font-size: 35px;
  height: 100px;
  border: rgb(163, 144, 144) 3px solid;
  background-color: rgb(233, 156, 132);
  width: 70vw;
}

.time-line-message{
  display: flex;
  justify-content: center;
  padding-bottom: 80px;
  color: rgb(238, 32, 32);
}

.tl-left{
  display: flex;
  justify-content: center;
  width: 400px;
}

.tl-right{
  display: flex;
  justify-content: space-between;
}

.l_user{
  padding-left: 50px;
}

.times{
  padding: 0 140px;
  width: 600px;
}

.tl-location{

}

/* dm */

.dm-all{
  height: 100vh;
  background-color: rgb(162, 175, 201);
  padding-bottom: 15px;
  overflow: scroll;
}

.to-chat{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  height: 100px;
  margin: 0 40vw;
}

.to-chat-already{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  border: whitesmoke 1px solid;
  background-color: rgb(211, 199, 199);
  height: 100px;
  border-radius: 100px;
  margin: 0 40vw;
}

.dm-room{
  display: flex;
  justify-content: center;
  font-size: 43px;
}

.join{
  font-size: 20px;
}

.join-member{
  font-size: 25px;
}

.message-dm{
  font-size: 27px;
}

.current-dm-wrap{
  border: 1px black solid;
  border-radius: 20px;
  background-color:rgb(136, 132, 148);
  color: white;
  padding: 0 15px;
  margin: 0 3px 10px 3px;
  width: 830px;
}

.visited-dm-wrap{
  border: 1px white solid;
  border-radius: 20px;
  background-color: rgb(194, 197, 214);
  color: rgb(32, 32, 32);
  padding: 0 15px;
  margin: 0 3px 10px 50vw;
  width: 830px;
}


.join-member-message{
  display: flex;
  justify-content: space-between;
}

.sender-name{
  font-size: 20px;
  padding-top: 4px;
}

.created-at{
  font-size: 22px;
}

.text-field-size{
  font-size: 25px;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.no-room{
  display: flex;
  justify-content: center;
  font-size: 30px;
  padding-top: 250px;
}

.nothing-message{
  font-size: 25px;
  display: flex;
  justify-content: center;
  padding-top: 200px;
}

/* 通知 */

.notifications{
  height: 100vh;
  overflow: scroll;
  position: relative;
  background-color: rgb(137, 187, 160);
  padding: 50px 0;
}

.pagenation{
  font-size: 24px;
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}



.notification{
  font-size: 25px;
  padding: 10px 0 10px 10px;
  display: flex;
  border: rgb(58, 153, 55) 2px solid;
  border-radius: 20px;
  box-shadow    : 8px 8px 8px #666666;
  margin: 15px 10px 10px 24vw;
  max-width: 55vw;
  background-color: rgb(131, 201, 117);
  position: relative;
} 

.time-notification{
  position: absolute;
  right: 20px;
}

.v-name{
  padding-left: 20px;
  width: 270px;
}

.v-name-dm{
  color: rgb(21, 21, 202);
  padding-left: 80px;
}

.v-name-follow{
  color: rgb(194, 20, 20);
  padding-left: 80px;
}

.notification-nothing{
  padding-top: 30px;
  font-size: 30px;
  display: flex;
  justify-content: center;
}

/* お気に入り */

.space{
  width: 160px;
}

.favorite-link{
  font-size: 45px;
  position: relative;
  top: 3px;
  left: 330px;
  text-shadow: 8px 8px 8px #666666;
}

.users-link{
  font-size: 45px;
  position: absolute;
  top: 30px;
  left: 1000px;
  text-shadow: 8px 8px 8px #666666;
}

.favorite-all{
  height: 100vh;
  position: relative;
  overflow: scroll;
  background-color: rgb(138, 192, 199);
}

.favorite-title{
  font-size: 35px;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.favorites{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 50px;
}

.favorite-user{
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:10px;
  border: rgb(114, 142, 219) 3px solid;
  background-color: rgb(221, 228, 220);
  width: 300px;
  box-shadow    : 8px 8px 8px #666666;
}

.making-link{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  margin-bottom: 50px;
}

/* 取説 */

.how-to-all{
  padding: 10px;
  background-color: rgb(136, 174, 175);
  height: 100vh;
  overflow: scroll;
}

.how-to-title{
  font-size: 35px;
  display: flex;
  justify-content: center;
}

.how-to-start{
  font-size: 20px;
  position: relative;
}

.how-to-list{
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}

.how-to-link{
  color: rgb(231, 79, 8);
  font-size: 22px;
}

.how-to-please{
  color: red;
}

.new-schedule-image{
  padding-top: 180px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}

.under-arrow-one{
  font-size: 180px;
  position: absolute;
  top: 790px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}

.how-to-follow{
  position: absolute;
  top: 1050px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}

.follow-image{
  position: absolute;
  top: 1220px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}

.under-arrow-two{
  font-size: 180px;
  position: absolute;
  top: 1810px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}

.how-to-dm{
  position: absolute;
  top: 2070px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}

.dm-image{
  position: absolute;
  top: 2220px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}

.under-arrow-three{
  font-size: 180px;
  position: absolute;
  top: 2810px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}

.how-to-timeline{
  position: absolute;
  top: 3080px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}

.tl-image{
  position: absolute;
  top: 3200px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}

.under-arrow-four{
  font-size: 180px;
  position: absolute;
  top: 3800px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}

.how-to-notifications{
  position: absolute;
  top: 4070px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}

.notifications-image{
  position: absolute;
  top: 4190px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}

.under-arrow-five{
  font-size: 180px;
  position: absolute;
  top: 4790px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}

.how-to-room-list{
  position: absolute;
  top: 5060px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}

.room-list-image{
  position: absolute;
  top: 5180px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}

.under-arrow-six{
  font-size: 180px;
  position: absolute;
  top: 5780px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}

.how-to-favorite{
  position: absolute;
  top: 6050px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}

.favorite-image{
  position: absolute;
  top: 6170px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}

/* ルーム一覧 */

.room-count{
  font-size: 28px;
  padding: 5px 20px;
  width: max-content;
  position: relative;
  top: -65px;
  left: 83vw;
  box-shadow    : 8px 8px 8px #666666;
  border-radius: 18px;
  border: rgb(82, 136, 85) 3px solid;
  background-color: rgb(125, 194, 112);
  color: #0a6425;
}

.room-list{
  height: 100vh;
  overflow: scroll;
  position: relative;
  background-color: rgb(114, 155, 156);
}

.room-list-title{
  display: flex;
  justify-content: center;
  font-size: 35px;
  padding: 40px 0 10px 0;
}

.room-list-name-wrap{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 25px;
  position: absolute;
}

.room-list-name{
  margin: 10px;
  border: rgb(82, 136, 85) 3px solid;
  background-color: rgb(125, 194, 112);
  width: 300px;
  display: flex;
  justify-content: center;
  box-shadow    : 8px 8px 8px #666666;
}

/* 吹き出し */

.index-bubble{
  color: rgb(212, 81, 48);
}

.index-bubble:hover .balloon {
  display: inline;
}

.balloon {
  position   : absolute;
  display: none;
  padding: 2px;
  background-color: rgba(232, 231, 231, 0.297);
  top: -20px;
  left: 230px;
  border-radius: 10px;
  padding: 0 10px;
}

.balloon:after{
  border-top: 12px solid rgba(235, 233, 233, 0.345);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  bottom: -12px;
  left : 5%;
  content: "";
  position: absolute;
}

.in-each:hover .balloon-tl{
  display: inline;
  color: red;
}

.balloon-tl {
  position   : absolute;
  display: none;
  margin: 0 0 130px 190px;
  background-color: rgba(213, 228, 243, 0.612);
  border-radius: 10px;
  padding: 0 10px;
}
.balloon-tl:after{
  border-top: 12px solid rgba(223, 237, 252, 0.612);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  bottom: -12px;
  left : 5%;
  content: "";
  position: absolute;
}

.favorite-user:hover .balloon-favorite{
  display: inline;
  color: rgb(231, 120, 23);
}

.balloon-favorite {
  position   : absolute;
  display: none;
  margin: 0 0 130px 0;
  background-color: rgba(213, 228, 243, 0.824);
  border-radius: 10px;
  padding: 0 10px;
}
.balloon-favorite:after{
  border-top: 12px solid rgba(223, 237, 252, 0.612);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  bottom: -12px;
  left : 47%;
  content: "";
  position: absolute;
}

.room-list-name{
  position: relative;
}

.room-list-name:hover .balloon-room{
  display: inline;
  color: rgb(231, 120, 23);
}

.balloon-room {
  position : absolute;
  display: none;
  top: -50px;
  left: 40px;
  width: max-content;
  background-color: rgba(213, 228, 243, 0.817);
  border-radius: 10px;
  padding: 0 10px;
}
.balloon-room:after{
  border-top: 12px solid rgba(223, 237, 252, 0.612);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  bottom: -12px;
  left : 5%;
  content: "";
  position: absolute;
}

.edit-user-wrapper{
  height: 100vh;
  position: absolute;
  top: 350px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  overflow: scroll;
}

.location{
  padding-top: 5px;
}

.location-select{
  display: flex;
  padding-top: 10px;
}

.cp_ipselect {
  overflow: hidden;
}

.cp_ipselect select {
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
}
.cp_ipselect.cp_sl04 {
  border: 2px solid #1e6bb9;
  border-radius: 20px;
  background: #ffffff;
}

.cp_ipselect.cp_sl04 select {
  padding: 8px 8px 8px 8px;
}