html, body {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Noto Serif JP', serif;
  overflow: scroll;
}

h2{
  font-size: 25px;
  height: 50px;
  padding: 20px 20px 50px 20px;

}

.wrapper{
  background-color: #d4d4a7;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
}

.title{
  background-color: #ddc9a6;
  color: #555555;
  height: 120px;
  font-size: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

a.title_link:link,
a.title_link:visited,
a.title_link:hover,
a.title_link:active{
  color: #555555;
}

.head_bar{
  height: 40px;
  font-size: 25px;
}

/* フィールド */

input[type="password"] {
  width: 400px;
  height: 40px;
}

input[type="email"] {
  width: 400px;
  height: 40px;
}

input[type="text"] {
  width: 400px;
  height: 40px;
}

/* ユーザー情報 */

.user-wrap{
  padding-left: 600px;
  padding-top: 30px;
}


/* スケジュール */

.head_bar{
  position: relative;
}

.day-of-week{
  position: absolute;
  left: 350px;
  top: 170px;
}

.sun-new,
.mon-new,
.tue-new,
.wed-new,
.thu-new,
.fri-new,
.sat-new{
  padding-bottom: 10px;
}

.user_nav{
  display: flex;
  justify-content: space-around;
}

.log_nav{
  justify-content: left;
}

.please{
  padding: 10px;
  font-size: 18px;
  color: red;
}

.new_schedule{
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  color: olivedrab;
  font-size: 35px;
}

.field{
  font-size: 30px;
}

.actions{
  padding-top: 10px;
}

.hello-user{
  font-size: 30px;
  padding: 40px 0 40px 30px;
  color: #3d3c3c;
  position: relative;
}

.nothing-schedule{
  display: flex;
  justify-content: center;
  font-size: 30px;
  padding-bottom: 20px;
  color: rgb(131, 69, 24);
}

.nothing-follow{
  display: flex;
  justify-content: center;
  font-size: 30px;
  padding-top: 100px;
  padding-left: 100px;
  color: rgb(24, 30, 112);
}

.sec-wrapper{
  font-size: 25px;
  height: 100vh;
}

.search-form{
  padding-left: 20px;
}

.my-page{
  height: 100vh;
  background-color: rgb(136, 175, 143);
  overflow: scroll;
}

.schedule-top{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  font-size: 25px;
}

.apotime{
  
}

.current_search_number{

}

.week-of-schedule{
  margin: 0 20vw ;
  border: solid 4px lightgray;
  border-radius: 100px;
  background-color: #d8afaf;
  font-size: 25px;
}

.sunday,
.monday,
.tuesday,
.wednesday,
.thursday,
.friday,
.saturday{
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.sun,
.mon,
.tue,
.wed,
.thu,
.fri,
.sat{
  padding-left: 220px;
}

.sun-s,
.mon-s,
.tue-s,
.wed-s,
.thu-s,
.fri-s,
.sat-s{
  padding-right: 220px;
}

.current-location{
  font-size: 30px;
  margin: 20px 20vw ;
  border: solid 4px lightgray;
  background-color: rgb(94, 187, 218);
  color: rgb(99, 45, 224);
  display: flex;
  justify-content: center;
}

.edit-schedule-link{
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}

.search-parent{
  display: flex;
  justify-content: space-around;
}

.search-form{
  padding-top: 8px;
  font-size: 25px;
}

.search-page{
  font-size: 30px;
  padding-top: 20px;
  color: #313030;
}

.match-id{
  display: flex;
  justify-content: center;
  font-size: 22px;
  padding-top: 50px;
  color: olivedrab;
}

.user-candidate{
  display: flex;
  justify-content: center;
  margin: 30px 25vw 20px 25vw;
  border: solid 4px lightgray;
  border-radius: 100px;
  background-color: lightsteelblue;
  font-size: 25px;
}

.search-wrap{
  height: 250px;
}

.match-user{
  display: flex;
  justify-content: center;
  font-size: 33px;
  height: 80px;
  padding-top: 30px;
}

.follow-list{
  display: flex;
  justify-content: center;
  font-size: 25px;
}

.u-f{
  padding-right: 20px;
}

.rap{
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.unless-follow{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  width: 35vw;
  height: 50px;
  border: cornflowerblue;
  background-color: darksalmon;
  border-radius: 20px;
}

.follow_form{

}

/* リンク */

.new-notifications{
  border: rgb(110, 177, 110) 2px solid;
  border-radius: 15px;
  background-color: rgb(64, 156, 118);
  height: 55px;
  width: 110px;
  left: 450px;
  top: -90px;
}

div.new-notifications {
  position: relative;
}
div.new-notifications a {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-link{
  border: hotpink 3px solid;
  padding: 10px 30px;
  background-color: black;
  margin: 0 30px 30px 30px;
}

a.notification-index_link:link,
a.notification-index_link:visited,
a.notification-index_link:active{
  color: rgb(68, 30, 5);
}

a.my-page_link:link,
a.my-page_link:visited,
a.my-page_link:active{
  color: rgb(236, 82, 216);
}

a.notification-index_link:hover,
a.my-page_link:hover{
  color: orange;
}

.back-link{
  padding: 20px 0 5px 20px;
  font-size: 20px;
}

.how-to{
  position: absolute;
  left: 40px;
  bottom: 40px;
}

.submit{
  padding: 20px;
}

a{
  text-decoration: none;
}

a:hover {
  color: red;
}

a:active {
  color: green;
}

.actions{
  padding-left: 20px;
  font-size: 20px;
}

.aaa{
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.wrapping{
  border: darkslateblue 3px solid;
  width: 60vw;
  border-radius: 30px;
  background-color: rgb(52, 150, 248);
}

.follow-name{
  display: flex;
  justify-content: center;
  font-size: 30px;
}

.syousai{
  padding-left: 30px;
}

.follow-count,
.no-my-id{
  display: flex;
  justify-content: center;
  font-size: 30px;
  height: 60px;
  color: lightcoral;
  padding-bottom: 60px
}

.follow-c{
  padding-right: 15px;
}

/* タイムライン */


.time-line{
  font-size: 33px;
  display: flex;
  justify-content: space-around;
  height: 100vh;
  padding: 50px;
  border: solid 4px lightgray;
  background-color: cadetblue;
  overflow: scroll;
}

.no-follow-now{
  padding-left: 23vw;
  padding-top: 100px;
}

.tl-each{
  
}

.in-each{
  display: flex;
  font-size: 35px;
  height: 100px;
}

.time-line-message{
  display: flex;
  justify-content: center;
  padding-bottom: 80px;

}

.tl-left{
  display: flex;
  justify-content: center;
  width: 400px;
}

.tl-right{
  display: flex;
  justify-content: space-between;
}

.l_user{
  padding-left: 50px;
}

.times{
  padding:  0 140px;
  width: 600px;
}

.tl-location{

}

/* dm */

.dm-all{
  height: 100vh;
  background-color: rgb(162, 175, 201);
  padding-bottom: 15px;
  overflow: scroll;
}

.to-chat{
  display: flex;
  justify-content: center;
  font-size: 28px;
}

.dm-room{
  display: flex;
  justify-content: center;
  font-size: 43px;
}

.join{
  font-size: 20px;
}

.join-member{
  font-size: 25px;
}

.message-dm{
  font-size: 27px;
}

.current-dm-wrap{
  border: 1px black solid;
  border-radius: 20px;
  background-color:rgb(136, 132, 148);
  color: white;
  padding: 0 15px;
  margin: 0 3px 10px 3px;
  width: 830px;
}

.visited-dm-wrap{
  border: 1px white solid;
  border-radius: 20px;
  background-color: rgb(194, 197, 214);
  color: black;
  padding: 0 15px;
  margin: 0 3px 10px 50vw;
  width: 830px;
}


.join-member-message{
  display: flex;
}

.sender-name{
  font-size: 20px;
  padding-top: 4px;
}

.created-at{
  font-size: 20px;
  padding: 4px 0 0 20px;
}

.text-field-size{
  font-size: 25px;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

/* 通知 */

.notifications{
  height: 100vh;
  overflow: scroll;
  position: relative;
}

.pagenation{
  font-size: 24px;
  position: absolute;
  top: 50px;
  left: 44vw;
}

.notification{
  font-size: 25px;
  padding: 10px 0 10px 10px;
  display: flex;
  border: black 1px solid;
  border-radius: 20px;
  margin: 15px 10px 10px 30vw;
  width: 38vw;
  background-color: rgb(115, 194, 36);
} 

.v-name{
  padding-left: 20px;
  width: 250px;
}

.v-name-dm{
  color: rgb(21, 21, 202);
}

.v-name-follow{
  color: rgb(194, 20, 20);
}

.notification-nothing{
  padding-top: 30px;
  font-size: 30px;
  display: flex;
  justify-content: center;
}

/* 取説 */

.how-to-all{
  padding: 10px;
  background-color: rgb(136, 174, 175);
  height: 100vh;
  overflow: scroll;
}

.how-to-title{
  font-size: 35px;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.how-to-start{
  font-size: 20px;
  position: relative;
}

.how-to-list{
  padding-top: 55px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}

.how-to-link{
  color: rgb(231, 79, 8);
  font-size: 22px;
}

.how-to-please{
  color: red;
}

.new-schedule-image{
  padding-top: 180px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}

.under-arrow-one{
  font-size: 180px;
  position: absolute;
  top: 790px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}

.how-to-follow{
  position: absolute;
  top: 1050px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}

.follow-image{
  position: absolute;
  top: 1220px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}

.under-arrow-two{
  font-size: 180px;
  position: absolute;
  top: 1810px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}

.how-to-dm{
  position: absolute;
  top: 2070px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}

.dm-image{
  position: absolute;
  top: 2220px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}

.under-arrow-three{
  font-size: 180px;
  position: absolute;
  top: 2810px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}

.how-to-timeline{
  position: absolute;
  top: 3080px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}

.tl-image{
  position: absolute;
  top: 3200px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}

.under-arrow-four{
  font-size: 180px;
  position: absolute;
  top: 3800px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}

.how-to-notifications{
  position: absolute;
  top: 4070px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}

.notifications-image{
  position: absolute;
  top: 4190px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}